.app-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12vh 73vh 6vh;
  max-height: 100vh;
  row-gap: 2vh;
  margin-top: 2vh;
}

.white-container {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body,
html {
  font-family: "Poppins" !important;
  color: #030314 !important;
  background: linear-gradient(90deg, #f8785c 0%, #7e2481 100%) !important;
}

a {
  color: white;
}

li {
  margin: 7px 0px;
}
